.challenge-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.challenge-view-list p {
  width: 100%;
}

.challenge-view-list {
  display: flex;
  width: 90%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
}

.challenge-view-list p:last-child {
  text-align: right;
}

#recent {
    width: auto;
    margin-bottom: 0;
}

#no-results {
  display: none;
}

#cards-button {
  display: none;
}