.content-container {
    display: flex;
}

.box {
    flex: 1;
    margin: 50px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.leaderboard {
    padding-left: 30px;
    order: 2;
}

.leaderboard-list {
    border: 4px solid #ffffff;
    border-radius: 10px;
    margin: 10px;
}

.leaderboard-item {
    align-items: center;
    display: flex;
    padding: 10px;
}

.leaderboard-item:nth-child(even) {
    background-color: #f2f7f9;
}

.leaderboard-item:nth-child(odd) {
    background-color: #a8eceb;
}

.leaderboard-rank-box {
    width: 2em;
    height: 2em;
    color: #000000;
    text-align: center;
    line-height: 2em;
    margin-right: 10px;
}

.leaderboard-info {
    flex-grow: 1;
}

.leaderboard-name {
    font-weight: bold;
}

.leaderboard-score {
    color: #000000;
}

.account-challenge-div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.account-info {
    order: 1;
}

.account-info-list {
    border: 4px solid #ffffff;
    border-radius: 10px;
    margin: 10px;
}

.account-info-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.account-info-item:nth-child(even) {
    background-color: #f2f7f9;
}

.account-info-item:nth-child(odd) {
    background-color: #a8eceb;
}

.info-label {
    font-weight: bold;
}

.info-value {
    flex-grow: 1;
    text-align: right;
}

.challenges {
    order: 3;
}

.box-title {
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

.challenges-list {
    width: 100%;
    border: 4px solid #ffffff;
    border-radius: 10px;
}

.challenge-item {
    display: flex;
    padding: 10px;
}

.challenge-item:nth-child(even) {
    background-color: #f2f7f9;
}

.challenge-item:nth-child(odd) {
    background-color: #a8eceb;
}

#no-challenge {
    display: flex;
    padding: 10px;
    background-color: #f2f7f9;
    justify-content: center;
}

.challenge-rank-box {
    width: 2em;
    height: 2em;
    color: #000000;
    text-align: center;
    line-height: 2em;
    margin-right: 10px;
}

.challenge-name-box,
.challenge-difficulty-box,
.challenge-language-box,
.challenge-date-box {
    width: 25%;
}

.challenge-info {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.badge-1er {
    background-color: #ffae00;
    color: #fff;
}

.badge-2eme {
    background-color: #c0c0c0;
    color: #fff;
}

.badge-3eme {
    background-color: #cd7f32;
    color: #fff;
}

.badge {
    margin-left: 10px;
    padding: 2px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.badge[title]:hover::after {
    content: attr(title);
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    font-size: 12px;
}

@media screen and (max-width: 868px) {
    .content-container {
        flex-direction: column;
    }

    .box {
        width: 80%;
    }

    .account-info {
        order: 1;
    }

    .leaderboard {
        order: 2;
    }

    .challenges {
        order: 3;
    }
}